<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table, tr, td, th{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>All Users</h1>
    <form method="get" action="/user/new">
        <button>Add New User</button>
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
        </tr>
        <tr>
            <td>123</td>
            <td>123@gmail.com</td>
            <td>123abc</td>
        </tr>
        <% for(let user of users){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
                <td>
                    <form action="/user/<%=user.id%>/edit">
                        <button>Edit Username</button>
                    </form>
                </td>
                <td>
                    <form action="/user/<%=user.id%>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>