<%- include('includes/head.ejs')  %>
<body>
    <h2>This page belongs to @<%= data.name %></h2>
    <p>Followers: <%= data.followers %> &nbsp;&nbsp;Following: <%= data.following  %></p>
    <% for(let post of data.posts){  %>
        <img src="<%= post.image  %>" alt="post">
        <p>Likes: <%= post.likes %> &nbsp;&nbsp;Comments: <%= post.comments  %></p>
    <% } %>
    <%- include('includes/footer.ejs')  %>
    <script src="/script.js"></script>
</body>
</html>